@mixin flexcenter {
    display: flex;
    justify-content: center;
}
@mixin column-reverse-align{
    flex-direction: column-reverse;
    align-items: center;
}
@mixin gradientcolor ($colorA: $chic-text-color-1, $colorB:$chic-text-color-3) {
    background: $colorA;
    background: linear-gradient(168deg, $colorA, $colorB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin shadow-card {
    box-shadow: 4px 4px 16px 6px (rgb(230, 231, 233))
}

@mixin flex-center-align-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
}

@mixin underline {
    content: '';
    display: block;
    width: 0;
    height: 0.20rem;
    background-color: $color-brand-text;
    transition: $transition;
}

@mixin underline-transition {

    width: 100%;
    transition: $transition;
}

/*********************************/
/* media queries responsive part */
/*********************************/



@mixin screen-max-width ($format: 'tablet-up') {
    @media screen and (min-width: map-get($breakpoints,$format)) {
        @content;

    }
}
