%font-padding {
    padding: 8rem 0 1rem 0;
}

%font-size-h1 {
    font-size: 6rem;
}

%size-price {
    font-size: 2rem;
}



%font-family-commun {
    font-family: 'Caveat', cursive;
    font-size:2rem;
}

%padding-bottom-10 {
    padding-bottom: 18rem;
}
