@import 'vendors/normalize';
@import 'base/fonts';
@import 'abstracts/place-holder';
@import 'abstracts/keyframes';
@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'base/base';

@import 'layout/header';
@import 'layout/restaurants';
@import 'layout/footer';
@import 'components/soon';
@import 'layout/menu';
@import'pages/legal-notice';



  