.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  background-color: $color-brand-background;
  width: 100%;
  justify-content: space-between;
  font-size: 3rem;
  @include mobile-only{
    font-size: 1rem;
    flex-direction: column-reverse;
    align-items: center;
  }

}




a {
  margin: 0 6rem;
  text-decoration: none;
  color: $color-brand-text
}


.footer__item {
  &:hover {
    animation: shake 1.5s;
  }




}

/*@include small-screen{
  .footer {
    flex-direction: column-reverse;
    align-items: center;
    font-size: 1rem;
    line-height: 0.1;
    min-height: 66px;

   
  }
}*/
