.header {
    @include flexcenter;
    width: 100%;
    background-color: $color-brand-background;
    font-size: 4rem;
    color: $color-brand-text;

    @include screen-max-width('widescreen-up') {
        font-size: 4rem;

    }

    @include screen-max-width ($format: 'tablet-up') {
        font-size: 2rem;





    }

    @include screen-max-width('tablet-down') {

        font-size: 2.5rem;
        width: 100%;


    }

}