.header {
    @include flexcenter;
    width: 100%;
    background-color: $color-brand-background;
    font-size: 4rem;
    color: $color-brand-text;
    

@include screen-max-width ($format: 'tablet-up'){ 
    font-size: 2rem;
       
    
    
    

}
@include screen-max-width('tablet-down'){
      
    font-size: 1.8rem;
    width:100%;  
   
}

}