@import 'menu/carte_chic';
@import 'menu/carte_delice';
@import 'menu/carte_palette';
@import 'menu/carte_note';

.menu {

  margin: 0 auto;
  margin-bottom: $margin-bottom-15;
  max-width: 68rem;
  font-size: 1.27rem;
  line-height: 2.8rem;
  @include shadow-card;
  @include screen-max-width('tablet-down'){
    width:100%; 
    font-size: 1.1rem;  
    text-align: center; 
  }



  h1 {
    @include screen-max-width('tablet-up'){
      font-size: 3rem;
     }
    font-size: 4rem;
    margin: 0;

  }

  .menu__title {
    text-align: center;
  }



  .menu__decoration {
    @include flex-between;
    margin: 2rem 3rem;
    padding: 2rem 0rem;
    @include screen-max-width('tablet-down'){      
      font-size: 1rem; 
      
       
    }
    @include screen-max-width('tablet-up'){
      flex-direction: column;
      text-align: center;
      align-items: center;
      margin:0;
      padding:0;
    }
    



    .menu__decoration__tray {
      padding-top: 2rem;
      @include screen-max-width('tablet-down'){
        width:30%;
        
      }
      @include screen-max-width('tablet-up'){
        padding: 0;
      }
      
    }
  }

  .menu__dishe {
    @include flex-between;
    @include screen-max-width('tablet-down'){
      padding: 3rem;     
    }
    
    @include screen-max-width('phone-down'){
      flex-direction: column; 
      margin:0;
      padding:1rem;   
    }

    span {
      @extend %size-price;
      @include screen-max-width('tablet-down'){
      
        font-size: 1.4rem;      
       
    }
    @include screen-max-width('tablet-up'){
      font-size: 1rem;
      
     }

    }
  }
h2{ 
  @include screen-max-width('tablet-up'){
   
   padding:0;
   margin:0;  
  }




}

h3 {
  font-size: 3.2rem;

 
}

  /* soulignement au passage de la souris des titres des repas"*/
  .menu__decoration h2::after {
    @include underline;
  }

  .menu__decoration h2:hover::after {
    @include underline-transition;
  }
}