.restaurants {
    @include flex-center-align-text;
    flex-wrap: wrap;







    @include screen-max-width('tablet-up') {
        justify-content: center;
        flex-direction: column;
        max-width: 100%;
        font-size: 2rem;
    }

}

.restaurant {
    @include shadow-card;
    @include flex-center-align-text;
    width: 45%;
    height: 40rem;
    margin: 1rem;
    font-family: $font-family-text-principal;

    @include screen-max-width ('tablet-down') {
        width: 90%;

    }

    @include screen-min-width ('tablet-down') {
        font-size: 1.7rem;
        width: 42%;
    }

    @include screen-max-width ('phone-up') {
        width: 96%;
        margin-bottom: 1rem;
    }


    h1 {

        @include screen-max-width ('tablet-down') {
            font-size: 1rem;
        }

        padding-bottom: 1rem;

    }

    h2 {
        @include screen-max-width ('other') {
            font-size: 3rem;

        }


        font-size:4rem;
    }


    a:link {
        text-decoration: none;

    }

    &:hover {
        a {
            transform: scale(1.20);
            opacity: 0.78;
        }
    }

    a {
        transition: $transition;

        &::selection {
            background-color: transparent;
            color: white;
        }
    }

}

.restaurant--lne {

    background-color: $lne-background;

    img {
        width: 6rem;
        @include screen-max-width ('phone-up') {
            width: 4rem;
        }
    }

    h1 {
        margin-top: 0;
        font-size: 3rem;
        color: $lne-text-color;
        font-family: $lne-font-family-title;

        @include screen-max-width ('phone-up') {
            font-size: 2rem;
        }
    }

    h2 {
        font-family: $lne-family-font-only;
        color: $lne-text-color;

        @include screen-max-width('tablet-down') {
            font-size: 2.8rem;
        }
    }
}


.restaurant--mc {
    background-color: $chic-background;
    font-family: $chic-font-family-title;

    h1 {
        @include screen-max-width ('dekstop-down') {
            padding: 0 2rem;
        }

        @include screen-max-width ('other') {
            font-size: 1.9rem;
            padding: 0.6rem;
        }

        @include screen-max-width ('phone-down') {
            font-size: 1.8rem;
            padding: 0.4rem;
        }

        font-size: 2.3rem;
        @include gradientcolor ($colorA: $chic-text-color-1, $colorB: $chic-text-color-3);
    }

    h2 {
        font-family: $chic-font-family-texte;
        color: $chic-text-color-2;
    }
}

.restaurant--md {
    background-color: $delice-background;

    h1 {
        font-size: 3.2rem;
        font-family: $delice-font-family-title;
        @include gradientcolor ($colorA: $delice-text-color-1, $colorB: $delice-text-color-2);
        padding-left: 1rem;

        @include screen-max-width ('other') {
            font-size: 2.8rem;
        }

        @include screen-max-width('phone-down') {
            padding: 0 1.5rem
        }
    }

    h2 {
        font-family: $delice-font-family-texte;
        color: $delice-text-color-3;
    }
}

.restaurant--mp {
    background-color: $palette-background;

    h1 {
        font-size: 3.2rem;
        font-family: $palette-font-family-title;
        @include gradientcolor ($colorA: $palette-text-color-1, $colorB: $palette-text-color-2);

        @include screen-max-width ('other') {
            font-size: 3rem;
        }

        @include screen-max-width ('phone-up') {
            font-size: 2rem;
        }
    }

    h2 {
        font-family: $palette-font-family-texte;
        color: $palette-text-color-3;
    }
}