.restaurants {
    @include flex-center-align-text;
    padding:0;
    flex-wrap: wrap;
    box-sizing: border-box;        
    
}
.restaurant{
    @include shadow-card;
    @include flex-center-align-text;
    width: 33rem;
    height: 40rem;       
    margin: 1rem;   
    font-family: $font-family-text-principal;
            
        h1{ 
            
            padding-bottom: 1rem;
        }
        h2{ 
            font-size: 4rem;
        }
    
    
    a:link{ 
      text-decoration: none;
      
    }
  
    &:hover {
      a{
        transform: scale(1.20);
        opacity: 0.78;
      }
    }
    
    a {
      transition: $transition;      
     
      &::selection {
      background-color: transparent;
        color: white;
    }
    } 
            
 }
 .restaurant--lne { 
    
    background-color: $lne-background;   
      
        img{ 
            width: 100px;
            
        }
        h1{
            margin-top: 0;
            font-size: 3rem;
            color:$lne-text-color;            
            font-family: $lne-font-family-title; 
            
        }
        h2{
            font-family:$font-family-text-principal;            
            color:$lne-text-color;
        }  
}   
           

.restaurant--mc {    
    background-color:$chic-background;
    font-family:$chic-font-family-title ;
    
    
    h1 {
        font-size: 2.4rem;        
        @include gradientcolor ($colorA: $chic-text-color-1, $colorB: $chic-text-color-3);
        
        
      }  
    h2{
        font-family: $chic-font-family-texte;
        color:$chic-text-color-2;
    }
}
.restaurant--md {
    background-color: $delice-background;
  
        h1{
        font-size: 3.2rem;
        font-family: $delice-font-family-title;   
        @include gradientcolor ($colorA: $delice-text-color-1, $colorB: $delice-text-color-2);
        padding-left: 1rem;
        
        }
        h2{
            font-family: $delice-font-family-texte;         
            color:$delice-text-color-3;
        }
}
.restaurant--mp { 
    background-color: $palette-background;
    
        h1{
         font-size: 3.2rem;   
         font-family: $palette-font-family-title;   
        @include gradientcolor ($colorA: $palette-text-color-1, $colorB: $palette-text-color-2);
        
        }
        h2{ 
            font-family: $palette-font-family-texte;            
            color:$palette-text-color-3;
        }
}