/*--------- police La note enchantée ---------*/

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&family=Devonshire&display=swap');

/*--------- police tarif cartes la note enchantée + le délice des papilles + la palette du goût---------*/
@import url(//db.onlinewebfonts.com/c/c455d94eee43dc4ceeb83c0c0fd0d4c8?family=Segoe+Print);
/*--------- police Le chic à la française --------- */

@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Noto+Serif&display=swap');


/*--------- police Le délice des papilles ---------*/


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kalam&display=swap');


/*--------- police La palette du goût ---------*/

@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Kaushan+Script&display=swap');
