/*--------- police La note enchantée ---------*/

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&family=Devonshire&display=swap');

/*--------- police tarif cartes la note enchantée + le délice des papilles + la palette du goût---------*/
@font-face {font-family: "Segoe Print";
   
    src: url("fonts/Segoe-Print-V1/Segoe-Print.woff2") format("woff2"), /* chrome firefox */
    
    src: url("fonts/Segoe-Print-V1/Segoe-Print.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    
}
/*--------- police Le chic à la française --------- */

@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Noto+Serif&display=swap');


/*--------- police Le délice des papilles ---------*/


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kalam&display=swap');


/*--------- police La palette du goût ---------*/

@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Kaushan+Script&display=swap');
