.mentions {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
        font-family: "Segoe Print V1";
    }

    h3 {
        font-size: 1.75rem;
    }

    p {
        font-size: 1.5rem;

        color: black;
    }
}