.menu--chic {
  background-color: $chic-background;
  font-family: $chic-font-family-texte;
  @extend %padding-bottom-10;

  .menu__title {
    padding-bottom: 6rem;
  }

  h2 {
    font-size: 2rem !important;
  }

  .header,
  h1,
  h3 {
    font-family: $chic-font-family-title;
  }

  h1 {

    @include gradientcolor ($colorA: $chic-text-color-1, $colorB: $chic-text-color-3);
    @extend %font-padding;
    font-size: 3rem;

    @include screen-max-width ('tablet-down') {
      font-size: 1rem;

    }
  }

  h2,
  p,
  span {
    font-family: $chic-font-family-texte;
    font-size: 1.6rem;
  }

  .menu__decoration {
    padding-top: 2rem;

    @include screen-max-width ('tablet-up') {
      padding: 4rem 0 !important;
    }

    .menu__decoration__tray {
      height: 1.56rem;
      width: 17rem;
      margin-top: 0.3rem;
    }
  }

  .menu__dishe {
    padding: 0 12rem;
  }

  .menu__dishe--1 {
    color: $chic-text-color-2;
  }

  .menu__dishe--2 {
    color: $chic-text-color-4;
  }

  .menu__dishe--3 {
    color: $chic-text-color-3;
  }
}